*.aux
*.bbl
*.blg
*.log
*.out
*.bcf
*.run.xml
*.xml
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex(busy)
*.synctex(error)
*.idx
*.ilg
*.ind
*.gls
*.glo
*.glsdefs
*.nl
*.nlo
*.nls
*.stp